interface {{interface.primary.id}}\.{{vlan_id}}
 vrf {{vrf}}
 ipv4 address 
 encapsulation dot1q 3001

router static
vrf {{vrf}}
address-family {{route.addr_fam}}
  10.61.76.3/32 TenGigE0/6/0/1.3001 10.63.76.4 bfd fast-detect minimum-interval 100 multiplier 4 tag 7 description RV56_1/13412/eJuglaSEB-U/C/S
   10.61.76.4/32 TenGigE0/6/0/1.3001 10.63.76.4 bfd fast-detect minimum-interval 100 multiplier 4 tag 7 description RV56_1/13412/eJuglaSEB-M
