vrf {{vrf_name}}
 address-family {{addr_fam}}
  import route-target
   {{import_route_target}}
  !
  export route-target
   {{export_route_target}}

{% if interface %}
{% for intf in interface %}
interface {{intf.name}}\.{{intf.vlan}}
 description {{intf.description}}
 vrf {{intf.vrf}}
 ipv4 address {{interface.prefix | ipaddr('address')}} {{interface.prefix | ipaddr('netmask')}}
 encapsulation dot1q {{interface.vlan}}
{% endfor %}
{% endif %}

router bgp {{local_bgp_asn}}

 session-group {{session_group_name}}
  remote-as {{remote_bgp_asn}}
  description {{session_group_desciption}}

 neighbor-group {{neighbor_group_name}}
  use session-group {{session_group_name}}
  bfd fast-detect
  bfd multiplier 4
  bfd minimum-interval 150
  graceful-restart
  address-family {{addr_fam}}
   send-community-ebgp
   soft-reconfiguration inbound always

 vrf {{vrf_name}}
  rd {{route_distinguisher}}
  address-family {{addr_fam}}
  neighbor {{neighbor_bgp_ip}}
   use neighbor-group {{neighbor_group_name}}
   description {{neighbor_bgp_description}}
   address-family {{addr_fam}}
    route-policy {{route_policy_name_in}} in
    route-policy {{route_policy_name_out}} out
